<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1><a class="title" href="{{ url_for('index') }}">SuperWebsite</a></h1>
    {%  if g.user %}
    <a class="logged">Logged as {{ g.user['username'] }}</a>
    {% endif %}
  <ul>
    <li><a href="{{ url_for('index') }}">Home</a></li>
    {% if g.user %}
        <li><a href="{{ url_for('index') }}">Dashboard</a>
        <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
{% block content %}{% endblock %}
</section>
<footer>
<div class="toast-container">
  {% for category,message in get_flashed_messages(with_categories=True) %}
    <div class="flash {{ category }}">{{ message }}</div>
  {% endfor %}
</div>
</footer>